/* Replay.scss */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center loader vertically in the viewport */
  }
  
  /* Additional loader styles can be added here */
  